.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 306px;
  min-height: 100vh;
  padding: 32px 28px 76px;
  background-color: var(--bg-color-w);

  &__top{
    display: flex;
    flex-direction: column;
    gap: 53px;
  }
}