.block {
  max-width: calc(100vw - 472px);
  padding: 30px 0 40px;
  background-color: var(--bg-color-w);
  border-radius: 30px;

  @media screen and (min-width: 1440px) {
    max-width: 968px;
    margin: 0 auto;
  }

  &__top, &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  }

  &__top {
    margin-bottom: 40px;
  }

  &__table {
    padding: 0 40px;
    margin-bottom: 30px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    @media screen and (min-width: 1370px) {
      overflow-x: hidden;
    }
  }
}