.container {
  position: relative;

  &__input {
    background-color: #F9FBFF;
    border: none;
    border-radius: 8px;

    height: 38px;
    width: 100%;
    padding-left: 40px;

    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      color: var(--text-color-light);
    }
  }

  &__svg {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);

    width: 24px;
    height: 24px;
  }
}