@import-normalize;

:root {
  --bg-color-w: #FFFFFF;
  --bg-color-l: #FAFBFF;
  --text-color: #000000;
  --text-color-light: #B5B7C0;
  --text-color-accent: #16C098;
  --accent-color: #5932EA;
  --border-color: #EEEEEE;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  font-style: normal;
  display: inline-block;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--bg-color-l);
  margin: 0;
}

.overflow-hidden {
  overflow: hidden;
}